@import "variables";

.cta {

    padding: 0 1.25rem 0 1.25rem;
    
    &__container {
        padding: 2.5rem 1.75rem 2.3125rem 1.75rem;
        background-color: $DarkBlueIntro;
        box-shadow: 5px 5px 8px rgba(0,0,0, 0.254274px);
        border-radius: 0.5625rem;
    }

    &__text {

        h2 {
            font-size: 1.125rem;
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 2rem;
        }
    }

    &__inputs {

        input {
            margin-bottom: 1.5rem;
            width: 100%;
        }

        button {
            width: 100%;
        }
    }
}