.features {
    padding: 7.5rem 1.6875rem 10rem 1.6875rem;
    max-width: 55rem;
    margin: auto;

    &__item {
    
        &:not(:last-child) {
            margin-bottom: 5rem;
        }
        
        &__img {
            margin-bottom: 1.5rem;

        }   

        h2 {
            font-size: 1.125rem;
            margin-bottom: 0.5rem;
        }

        p {
            max-width: 24rem;
            margin: auto;
        }
    }
}

@media screen and (min-width: 50em) {

    .features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 9.875rem 0 8.585625rem 0;
        grid-column-gap: 9.1875rem;

        &__item {
            
            h2 {
                font-size: 1.25rem;
            }
        }
    }
}