@import "variables";

.footer {
    text-align: left;
    padding: 16.1875rem 1.75rem 3.25rem 1.75rem;
    background-color: $DarkBlueFooter;

    &__logo {
        margin-bottom: 2.1875rem;

        img {
            width: 34%;
        }
    }

    &__item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1rem;

        p {
            font-size: 1rem;
        }

        img {
            margin-right: 1rem;
            width: 0.8125rem;
            padding-top: 5px;
        }
    }

    &__nav {
        margin-top: 3.5rem;

        ul {
            margin-bottom: 3rem;

            &:last-child {
                margin-bottom: 3.5rem;
            }

            li {

                &:hover {
                    font-weight: bold;
                }

                &:not(:last-child) {
                    margin-bottom: 1rem;
                }    
            }
        }
    }

    &__socials {
        text-align: center;

        svg {

            &:not(:last-child) {
                margin-right: 0.615rem;
            }

            &:hover {
                color: $Cyan;
            }
        }
    }
}