@import "variables";

.footer {
    text-align: left;
    padding: 16.1875rem 1.75rem 3.25rem 1.75rem;
    background-color: $DarkBlueFooter;

    &__logo {
        margin-bottom: 2.1875rem;
    }

    &__nav {

        ul {
            margin-bottom: 3rem;

            &:last-child {
                margin-bottom: 3.5rem;
            }

            li {
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }    
            }
        }
    }

    &__socials {
        text-align: center;

        svg {

            &:not(:last-child) {
                margin-right: 0.615rem;
            }

            &:hover {
                color: $Cyan;
            }
        }
    }
}