@import "variables";

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,*::before,*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: $DarkBlueIntro;
    color: $White;
    text-align: center;
    font-family: $OpenSans;
}

main {
    background-color: $DarkBlueMain;
}

button,li,svg {
    cursor: pointer;
}

a,a:visited {
    color: inherit;
    display: inline-block;
}

p {
    line-height: 1.3125rem;
    font-size: 0.875rem;
}

li {
    list-style: none;
    
}

h1,h2,h3,h4,h5,button {
    color: $White;
    font-family: $Raleway;
}

.button {
    background: linear-gradient(132.02deg, #63E1D9 -31.85%, #34A0CD 100%);
    border-radius: 1.5rem;
    color: $White;
    border: none;
    cursor: pointer;
    font-weight: bold;

    &:hover {
        background: $CyanHover;
    }
}
