@import "variables";

.header {
    padding: 1.5rem 1.25rem 3rem 1.25rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
    max-width: 80rem;
    margin: auto;
    transition: all 2s ease-in-out;
    font-family: $Raleway;

    &__image {
        flex: 1;

        img {
            width: 56%;
            display: block;
            max-width: 11rem;
        }
    }

    &__nav {
        
        ul {
            display: flex;
        }

        li {
            font-size: 0.75rem;
            border-bottom: 2px solid transparent;

            &:hover {
                border-bottom: 1px solid white;
            }

            &:not(:last-child) {
                margin-right: 1.5625rem;
            }
        }
    }
}

@media screen and (min-width: 50em) {
    .header {
        padding-top: 4.5625rem;
        padding-bottom: 4.6875rem;

        &__nav {
            ul {
                li {
                    font-size: 1rem;

                    &:not(:last-child) {
                        margin-right: 3.5625rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 80em) {
    .header {
        padding-left: 0;
        padding-right: 0;
    }
}