@import "variables";

.hero {

    &__image {
        margin-bottom: 2.0625rem;
        padding: 0 2.1875rem;
        
        img {
            width: 100%;
        }
    }

    &__text {
        background-image: url("../assets/bg-curvy-mobile.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;

        h1 {
            margin-bottom: 0.9375rem;
            padding: 0 1.75rem;
            line-height: 2.25rem;
        }

        p {
            margin-bottom: 2rem;
            padding: 0 2.5rem;
        }

        button {
            padding-right: 4.25rem;
            padding-left: 4.25rem;
        }
    }
}