@import "variables";

.testimonials {
    padding: 0rem 3rem 10rem 3rem;

    &__items {
        background-color: $DarkBlueTestimonials;
        padding: 1.5rem 1.25rem 1.3125rem 1.25rem;
        text-align: left;
        border-radius: 3.93px;
        max-width: 22.5rem;
        margin: auto;

        &:first-child {
            position: relative;

            &::before {
                content: url("../assets/bg-quotes.png");
                position: absolute;
                left: 0;
                transform: scale(0.6);
                top: -2.2rem;
            }
        }

        p {
            font-size: 0.625rem;
            line-height: 1.125rem;
            margin-bottom: 1.0625rem;
        }

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    &__person {
        display: flex;

        img {
            border-radius: 50%;
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.5rem;
        }

        &__text {

            h3 {
                font-size: 0.625rem;
                letter-spacing: 0.5px;
            }

            small {
                font-size: 0.4375rem;
            }
        }
    }
}

@media screen and (min-width: 50em) {

    .testimonials {
        display: flex;
        max-width: 73.75rem;
        margin: auto;

        &__items  {
            margin-bottom: 0;
            padding: 2.5rem 1.54375rem 1.625rem 1.625rem;

            p {
                letter-spacing: 0.5px;
                font-size: 0.875rem;
                line-height: 1.1325rem;
            }

            &:not(:last-child) {
                margin-bottom: 0;
                margin-right: 2.5rem;
            }
        }
    }
}